<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no">
	<title>Preview</title>
	<style>
		@font-face {
			font-family: 'Merriweather';
			src: url('../../../fonts/merriweather/Merriweather-Regular.ttf');
		}
		@font-face {
			font-family: 'Open Sans';
			src: url('../../../fonts/open_sans/OpenSans-Regular.ttf');
		}
		@font-face {
			font-family: 'Roboto Mono';
			src: url('../../../fonts/roboto_mono/RobotoMono-Regular.ttf');
		}

		body,html
		{
			width: 100%;
			height: 100%;
			font-size: 14px;
			background: #F0F0F0;
			margin: 0;
			padding: 0;
		}

		h2 {
			margin: 0 4rem;
			color: #e56100;
			font-size: 2rem;
			font-weight: normal;
		}

		.page {
			margin: 4rem;
		}

		.image {
			position: relative;
			margin: auto;
		}

		.textLayer {
			opacity: 0.2;
			line-height: 1.0;
			margin: 0 auto;
			box-shadow: 2px 2px 5px 1px rgba(0,0,0,.3);
			position: absolute;
		}

		.textLayer span, .textLayer br {
			color: transparent;
			position: absolute;
			white-space: pre;
			cursor: text;
			transform-origin: 0% 0%;
		}

		.textLayer ::selection { background: rgb(0,0,255); }
		.textLayer ::-moz-selection { background: rgb(0,0,255); }

		.textLayer .endOfContent {
			display: block;
			position: absolute;
			left: 0px;
			top: 0;
			right: 0px;
			bottom: 0px;
			z-index: -1;
			cursor: default;
			-webkit-user-select: none;
			-ms-user-select: none;
			-moz-user-select: none;
		}

		.annotationLayer section {
			position: absolute;
		}

		.annotationLayer .linkAnnotation > a,
		.annotationLayer .buttonWidgetAnnotation.pushButton > a {
			position: absolute;
			font-size: 1em;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	</style>

	<link rel="stylesheet" href="./stylesheet.css" />
</head>
<body>
	<div class="doc">
	<% for(var i=1; i <= info.numpages; i++) { %>

		<h2>Page <%=i%></h2>

		<% var dim = info.dimensions.exceptions[i] ?? info.dimensions; %>

		<div class="page">
			<div class="image"
				 style="background: url('./page-<%=i%>.png') no-repeat;width: <%= dim.width %>px;height: <%= dim.height %>px;"
			>
				<%- include(dir + '/text-' + i + '.html') %>
			</div>
		</div>
	<% } %>
	</div>
</body>
</html>
